<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lab 5</title>
  </head>
  <body>
    <h1>List of students</h1>
    {% if students|length == 0 %}
    <p>No students found. Add students now!</p>
    {% else %}
    <table id="all-students" border="1">
      <tr>
        <th>SNo.</th>
        <th>Roll no.</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Actions</th>
      </tr>
      {% for student in students %}
      <tr>
        <td>{{student.student_id}}</td>
        <td>
          <a href="/student/{{student.student_id}}">{{student.roll_number}}</a>
        </td>
        <td>{{student.first_name}}</td>
        <td>{{student.last_name}}</td>
        <td>
          <a href="/student/{{student.student_id}}/update">Update</a>
          <a href="/student/{{student.student_id}}/delete">Delete</a>
        </td>
      </tr>
      {% endfor %}
    </table>
    {% endif %}
    <a href="/student/create">Add student</a>
  </body>
</html>
