<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>todos</title>
    <style>
      body {
        font-family: Arial, Helvetica, sans-serif;
      }

      .form-container,
      .todos-container {
        display: flex;
        justify-content: center;
        gap: 20px;
      }

      form {
        padding: 20px;
        border: 5px solid hotpink;
        border-radius: 10px;
      }
    </style>
  </head>
  <body>
    <div class="form-container">
      <form action="/add" method="post">
        <label>
          Todo text:
          <input type="text" name="todo_text" />
        </label>

        <input type="submit" value="Add todo" />
      </form>

      <form action="/remove" method="post">
        <label>
          Todo ID:
          <input type="text" name="todo_id" />
        </label>

        <input type="submit" value="Remove todo" />
      </form>
    </div>
    <div class="todos-container">
      <ul>
        {% for id, text in todos %}
        <li>{{id}}, {{text}}</li>
        {% endfor %}
      </ul>
    </div>
  </body>
</html>
