<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <a href="/">Go back</a>
    <h2>Student details</h2>
    <table border="1">
      <tr>
        <th>SNo.</th>
        <th>Roll number</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Actions</th>
      </tr>
      <tr>
        <td>{{student.id}}</td>
        <td>
          <a href="/student/{{student.id}}">{{student.roll_number}} ↪</a>
        </td>
        <td>{{student.first_name}}</td>
        <td>{{student.last_name}}</td>
        <td>
          <a href="/student/{{student.id}}/update">Update</a>
          <a href="/student/{{student.id}}/delete">Delete</a>
        </td>
      </tr>
    </table>

    <h2>Enrollments</h2>
    <table border="1">
      <tr>
        <th>SNo.</th>
        <th>Course name</th>
        <th>Course code</th>
        <th>Course description</th>
      </tr>
      {% for enroll in student.enrollments %}
      <tr>
        <td>{{enroll.id}}</td>
        <td>{{enroll.course.name}}</td>
        <td>{{enroll.course.code}}</td>
        <td>{{enroll.course.description}}</td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
