<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hello Vidu</title>
  </head>

  <body>
    <h1 style="text-align: center; color: cyan">This is some big html doc</h1>

    <h2 style="color: blueviolet">Now its good!</h2>

    <p>editing this file is super easy</p>

    <table border="1">
      <tr>
        <th>Day</th>
      </tr>
      <tr>
        <td style="color: green">Thursday</td>
      </tr>
    </table>
  </body>
</html>
