<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/" method="post">
      <label>
        <input type="radio" name="student_or_course" value="student" checked />
        Student ID
      </label>
      <label>
        <input type="radio" name="student_or_course" value="course" />
        Course ID
      </label>
      <input type="text" name="id" value="1001" />
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
