<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Course Details</title>
  </head>
  <body>
    <h1>Course Details</h1>

    <table border="1" id="course-details-table">
      <tr>
        <th>Average Marks</th>
        <th>Maximum Marks</th>
      </tr>

      <tr>
        <td>{{ avg_marks }}</td>
        <td>{{ max_marks }}</td>
      </tr>
    </table>

    <img src="/static/histogram.png" alt="Marks vs Freq Plot" />

    <br />
    <a href="/">Go back</a>
  </body>
</html>
