<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/" method="post" id="data-form">
      <label>
        <input type="radio" name="ID" value="student_id" checked />
        Student ID
      </label>
      <label>
        <input type="radio" name="ID" value="course_id" />
        Course ID
      </label>
      <input type="text" name="id_value" value="1001" />
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
