<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>farmers' app</title>
    <style>
      body {
        font-family: Arial, Helvetica, sans-serif;
      }
    </style>
  </head>
  <body>
    <h1>welcome to farmers' app</h1>
    <h2>products table:</h2>
    <table border="1">
      <tr>
        <th>#</th>
        <th>name</th>
        <th>type</th>
      </tr>

      {% for id, product in products.items() %}
      <tr>
        <td>{{id}}</td>
        <td>{{product.name}}</td>
        <td>{{product.type}}</td>
      </tr>
      {% endfor %}
    </table>

    <h2>stocks table:</h2>
    <table border="1">
      <tr>
        <th>#</th>
        <th>product id</th>
        <th>product name</th>
        <th>qty</th>
        <th>price</th>
        <th>expiry</th>
      </tr>

      {% for id, stock in stocks.items() %}
      <tr>
        <td>{{ id }}</td>
        <td>{{ stock.product_id }}</td>
        <td>{{ products[stock.product_id].name }}</td>
        <td>{{ stock.qty }}</td>
        <td>{{ stock.price }}</td>
        <td>{{ stock.expiry }}</td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
